ul {
	margin: 0;
	padding-left: 0;
}

h1 , h2 , h3 {
	margin: 0;
}

.container {
	width: 1172px;
	margin: 0px auto;
	}

#header {
	position: fixed;
	width: 100%;
}

.clearfix {
	clear: both;
}

section {
	padding-bottom: 40px;
}

#logo {
	float: left;
	font-size: 30px;
	font-weight: 700;
}

#header nav {
	float: right;
}

#header ul {
	list-style-type: none;
	text-align: center;
	text-transform: uppercase;
}

#header li {
	float: left;
	line-height: 80px;
	font-size: 10px;
}

#header a {
	display: block;
	width: 110px;
	text-decoration: none;
	color: black;
}

.header {
	padding: 20px;
	padding-top: 200px;
	background-color: #76FEF2;
	color: white;
}

.header .topic {
	text-align: center;
	margin-bottom: 100px;
}

h1 {
	font-size: 80px;
	text-transform: uppercase;
}

.portfolio {
	padding-top: 120px;
	text-align: center;
	padding-bottom: 40px;
}

h2 {
	text-transform: uppercase;
  font-size: 20px;
  color: white;
}

.portfolio p {
  text-transform: capitalize;
  font-size: 10px;
}

hr {
  width: 50px;
  color: black;
}

.item {
	margin: 0 auto;
	width: 600px;
}

.item ul {
	list-style-type: none;
	text-align: center;
	text-transform: uppercase;fs
}

.item li {
	float: left;
	line-height: 80px;
	font-size: 10px;
}

em {
  color: #9BFDF8;
  font-style: normal;
}

.item a {
	display: block;
	width: 110px;
	text-decoration: none;
	color: black;
}

.row {
	margin: 0 -15px;
}

.col-4 {
  float: left;
	width: 33.333333%;
	box-sizing: border-box;
	position: relative;
	padding-bottom: 20px;
}

.selected {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 300px;
  text-align: center;
  background-color: black;
  padding-right: 30px;
  padding-bottom: 35px;
  display: none;
}

.col-4:hover .selected {
	display: block;
}

.selected h2 {
	padding-top: 40px;
}

.selected p {
	color: white;
  font-size: 10px;
  padding-bottom: 30px;
}

.selected a {
	text-decoration: initial;
  color: #7CE3DB;
  font-size: 14px;
  font-weight: 700;
}

.load{
	width: 100px;
	margin: 0 auto;
	font-size: 10px;
	text-align: center;
}

#footer {
	background-color: #FFD96E;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}

.name{
	font-size: 30px;
	font-weight: 700;
}

.connect {
	margin: 0 auto;
	width: 550px;
}

.connect ul {
	list-style-type: none;
	text-align: center;
	text-transform: uppercase;
}

.connect li {
	float: left;
	font-size: 15px;
	line-height: 50px;
	font-weight: 700;
}

.connect a {
	display: block;
	width: 110px;
	text-decoration: none;
	color: black;
}

#footer p {
	font-size: 10px;
}



